<div
  class="banner mb-5"
  style="
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @box.banner_url %>);
  ">
  <div class="container">
    <h1><%= @box.name %></h1>
    <p><%= link_to "Add Pokemon", new_box_pokemon_path(@box), class: "btn btn-primary" %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @box.pokemons.each do |pokemon| %>
      <div class="col-4">
        <%= render "pokemons/card", pokemon: pokemon %>
      </div>
    <% end %>
  </div>
</div>
